.header {
  border-bottom: 2px solid black;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h1 {
  font-family: "Sigmar One", cursive;
  font-size: 100px;
  color: #1f74ac;
}

.header img {
  max-width: 5%;
}

.navLinks {
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
}

.navlinks a {
  text-decoration: none;
}
/* nav {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
} */

.hidden {
  display: none;
}
